<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>org.tttalk.openfire.plugin.TranslatorPlugin</class>

    <name>TTTalk Translator</name>
    <description>Messages sent to tttalk.translator to translate.</description>
    <author>tttalk.org</author>
    <version>1.0</version>
    <date>01/30/2015</date>
    <minServerVersion>3.9.0</minServerVersion>

    <adminconsole>
      <tab id="tab-users">
         <sidebar id="tttalk" name="TTTalk">
            <item id="translator-form" name="TTTalk Translator" url="translator-form.jsp" description="Setting Url for translation" />
         </sidebar>
      </tab>
   </adminconsole>
</plugin>
